body {
    font-family: Roboto, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
/*----------------------------------------------------------*/
.header {
    background-color: #1f2937;
    padding: 16px 200px;
    display: flex;
    justify-content: space-between;
}
.header .right-links {
    font-size: 24px;
    font-weight: bold;
    color: #f9faf8;
}
.header .left-links {
    font-size: 18px;
    color: #e5e7eb;
}
/*----------------------------------------------------------*/
.hero {
    background-color: #1f2937;
    padding: 120px 200px;
    display: flex;
    justify-content: space-between;
}
.text-button{
    color: #e5e7eb;
    width: 400px;
    height: 200px;
}
.big-text {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 1000;
}
img {
    width: 550px;
    height: 240px;
}
button {
    background: #3882f6;
    border: 1px solid royalblue;
    color: white;
    font-weight: bold;
    font-size: 18px;
    padding: 8px 32px;
    border-radius: 8px;
    margin-top: 15px;
}

/*----------------------------------------------------------*/
.information {
    background-color: white;
}
/*----------------------------------------------------------*/
.quote {
    background-color: #e5e7eb;
}
/*----------------------------------------------------------*/
.footer {
    background-color: #1f2937;
}
/*----------------------------------------------------------*/
ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style-type: none;
    gap: 20px;
}
