body {
    font-family: Roboto, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
/*----------------------------------------------------------*/
.header {
    background-color: #1f2937;
    padding: 16px 200px;
    display: flex;
    justify-content: space-between;
}
.header .right-links {
    font-size: 24px;
    font-weight: bold;
    color: #f9faf8;
}
.header .left-links {
    font-size: 18px;
    color: #e5e7eb;
}
/*----------------------------------------------------------*/
.hero {
    background-color: #1f2937;
    padding: 120px 200px;
    display: flex;
    justify-content: space-between;
}
.text-button{
    color: #e5e7eb;
    width: 400px;
    height: 200px;
}
.big-text {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 1000;
}
.hero img {
    width: 550px;
    height: 240px;
}
button {
    background: #3882f6;
    border: 1px solid royalblue;
    color: white;
    font-weight: bold;
    font-size: 18px;
    padding: 8px 32px;
    border-radius: 8px;
    margin-top: 15px;
}

/*----------------------------------------------------------*/
.information {
    background-color: white;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 130px;
}
.information img {
    width: 170px;
    height: 170px;
    border: solid #3882f6; 
    border-radius: 8px;
    box-sizing: border-box;
}
.info-header {
    color: #1f2937;
    font-size: 36px;
    font-weight: 1000;
    margin-bottom: 50px;
}
.container {
    display: flex;
    justify-content: center;
    gap: 50px;
}   
.info {
    max-width: 170px;
}


/*----------------------------------------------------------*/
.quote {
    background-color: #e5e7eb;
}
/*----------------------------------------------------------*/
.footer {
    background-color: #1f2937;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: #e5e7eb;

}
.footer img {
    height: 20px;
    width: 20px;
}
/*----------------------------------------------------------*/
ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style-type: none;
    gap: 20px;
}
